{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "import",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended"
  ],
  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1}],
    "no-unused-vars": ["error", {"args": "none"}],
    "no-console": ["off"],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "comma-dangle": ["error", "always-multiline"],
    "react/prop-types": ["off"],
    "semi": ["error", "always"],
    "brace-style": ["error", "1tbs"],
    "object-curly-spacing": ["error", "never"]
  }
}
