body {
  background: #000;
}

.join-form {
  display: flex;
  flex: 1;
  flex-direction: row;
  left: 50%;
  margin-left: -250px;
  position: absolute;
  top: 40%;
  width: 500px;
}

.join-form input,
.join-form button {
  display: flex;
  font-size: 1.25em;
  padding: 10px;
  border: none;
}

.join-form input {
  flex: 100%;
}

.join-form button {
  flex: 100px;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color: #ddd;
}

.idle {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.scanner {
  height: 20vh;
  min-width: 100vw;
  background: linear-gradient(
    180deg,
    #000,
    #090909 10vh,
    #000 20vh
  );
  animation: idle-scroll-up 20s infinite;
}

.noise {
  margin-top: -350px;
  margin-left: -350px;
  height: calc(100vh + 700px);
  width: calc(100vw + 700px);
  background-image: url("/noise.png");
  animation: idle-jitter 10s infinite
}

@keyframes idle-scroll-up {
  0% {
    transform: translate3d(0, 100vh, 0);
    animation-timing-function: linear;
  }
  100% {
    transform: translate3d(0, -20vh, 0);
    animation-timing-function: step-end;
  }
}

@keyframes idle-jitter {
  0% {
    transform: translate3d(-95px, -105px, 0);
    animation-timing-function: step-end;
  }
  1% {
    transform: translate3d(-106px, -181px, 0);
    animation-timing-function: step-end;
  }
  2% {
    transform: translate3d(-91px, -110px, 0);
    animation-timing-function: step-end;
  }
  3% {
    transform: translate3d(-155px, -169px, 0);
    animation-timing-function: step-end;
  }
  4% {
    transform: translate3d(-158px, -93px, 0);
    animation-timing-function: step-end;
  }
  5% {
    transform: translate3d(-133px, -109px, 0);
    animation-timing-function: step-end;
  }
  6% {
    transform: translate3d(-62px, -161px, 0);
    animation-timing-function: step-end;
  }
  7% {
    transform: translate3d(-75px, -122px, 0);
    animation-timing-function: step-end;
  }
  8% {
    transform: translate3d(-156px, -8px, 0);
    animation-timing-function: step-end;
  }
  9% {
    transform: translate3d(-72px, -135px, 0);
    animation-timing-function: step-end;
  }
  10% {
    transform: translate3d(-8px, -169px, 0);
    animation-timing-function: step-end;
  }
  11% {
    transform: translate3d(-74px, -51px, 0);
    animation-timing-function: step-end;
  }
  12% {
    transform: translate3d(-82px, -139px, 0);
    animation-timing-function: step-end;
  }
  13% {
    transform: translate3d(-76px, -48px, 0);
    animation-timing-function: step-end;
  }
  14% {
    transform: translate3d(-142px, -111px, 0);
    animation-timing-function: step-end;
  }
  15% {
    transform: translate3d(-48px, -152px, 0);
    animation-timing-function: step-end;
  }
  16% {
    transform: translate3d(-168px, -90px, 0);
    animation-timing-function: step-end;
  }
  17% {
    transform: translate3d(-160px, -69px, 0);
    animation-timing-function: step-end;
  }
  18% {
    transform: translate3d(-1px, -7px, 0);
    animation-timing-function: step-end;
  }
  19% {
    transform: translate3d(-68px, -78px, 0);
    animation-timing-function: step-end;
  }
  20% {
    transform: translate3d(-18px, -2px, 0);
    animation-timing-function: step-end;
  }
  21% {
    transform: translate3d(-5px, -106px, 0);
    animation-timing-function: step-end;
  }
  22% {
    transform: translate3d(-104px, -180px, 0);
    animation-timing-function: step-end;
  }
  23% {
    transform: translate3d(-143px, -169px, 0);
    animation-timing-function: step-end;
  }
  24% {
    transform: translate3d(-93px, -55px, 0);
    animation-timing-function: step-end;
  }
  25% {
    transform: translate3d(-176px, -78px, 0);
    animation-timing-function: step-end;
  }
  26% {
    transform: translate3d(-156px, -67px, 0);
    animation-timing-function: step-end;
  }
  27% {
    transform: translate3d(-80px, -158px, 0);
    animation-timing-function: step-end;
  }
  28% {
    transform: translate3d(-143px, -76px, 0);
    animation-timing-function: step-end;
  }
  29% {
    transform: translate3d(-123px, -104px, 0);
    animation-timing-function: step-end;
  }
  30% {
    transform: translate3d(-69px, -123px, 0);
    animation-timing-function: step-end;
  }
  31% {
    transform: translate3d(-24px, -179px, 0);
    animation-timing-function: step-end;
  }
  32% {
    transform: translate3d(-109px, -54px, 0);
    animation-timing-function: step-end;
  }
  33% {
    transform: translate3d(-146px, -18px, 0);
    animation-timing-function: step-end;
  }
  34% {
    transform: translate3d(-24px, -65px, 0);
    animation-timing-function: step-end;
  }
  35% {
    transform: translate3d(-120px, -91px, 0);
    animation-timing-function: step-end;
  }
  36% {
    transform: translate3d(-59px, -25px, 0);
    animation-timing-function: step-end;
  }
  37% {
    transform: translate3d(-75px, -86px, 0);
    animation-timing-function: step-end;
  }
  38% {
    transform: translate3d(-34px, -31px, 0);
    animation-timing-function: step-end;
  }
  39% {
    transform: translate3d(-179px, -147px, 0);
    animation-timing-function: step-end;
  }
  40% {
    transform: translate3d(-166px, -127px, 0);
    animation-timing-function: step-end;
  }
  41% {
    transform: translate3d(-176px, -127px, 0);
    animation-timing-function: step-end;
  }
  42% {
    transform: translate3d(-75px, -145px, 0);
    animation-timing-function: step-end;
  }
  43% {
    transform: translate3d(-20px, -123px, 0);
    animation-timing-function: step-end;
  }
  44% {
    transform: translate3d(-85px, -57px, 0);
    animation-timing-function: step-end;
  }
  45% {
    transform: translate3d(-141px, -128px, 0);
    animation-timing-function: step-end;
  }
  46% {
    transform: translate3d(-115px, -162px, 0);
    animation-timing-function: step-end;
  }
  47% {
    transform: translate3d(-5px, -94px, 0);
    animation-timing-function: step-end;
  }
  48% {
    transform: translate3d(-78px, -167px, 0);
    animation-timing-function: step-end;
  }
  49% {
    transform: translate3d(-14px, -131px, 0);
    animation-timing-function: step-end;
  }
  50% {
    transform: translate3d(-30px, -52px, 0);
    animation-timing-function: step-end;
  }
  51% {
    transform: translate3d(-118px, -90px, 0);
    animation-timing-function: step-end;
  }
  52% {
    transform: translate3d(-89px, -74px, 0);
    animation-timing-function: step-end;
  }
  53% {
    transform: translate3d(-179px, -18px, 0);
    animation-timing-function: step-end;
  }
  54% {
    transform: translate3d(-39px, -110px, 0);
    animation-timing-function: step-end;
  }
  55% {
    transform: translate3d(-160px, -183px, 0);
    animation-timing-function: step-end;
  }
  56% {
    transform: translate3d(-173px, -63px, 0);
    animation-timing-function: step-end;
  }
  57% {
    transform: translate3d(-103px, -156px, 0);
    animation-timing-function: step-end;
  }
  58% {
    transform: translate3d(-112px, -140px, 0);
    animation-timing-function: step-end;
  }
  59% {
    transform: translate3d(-20px, -53px, 0);
    animation-timing-function: step-end;
  }
  60% {
    transform: translate3d(-77px, -90px, 0);
    animation-timing-function: step-end;
  }
  61% {
    transform: translate3d(-70px, -131px, 0);
    animation-timing-function: step-end;
  }
  62% {
    transform: translate3d(-165px, -154px, 0);
    animation-timing-function: step-end;
  }
  63% {
    transform: translate3d(-173px, -115px, 0);
    animation-timing-function: step-end;
  }
  64% {
    transform: translate3d(-162px, -170px, 0);
    animation-timing-function: step-end;
  }
  65% {
    transform: translate3d(-29px, -54px, 0);
    animation-timing-function: step-end;
  }
  66% {
    transform: translate3d(-120px, -5px, 0);
    animation-timing-function: step-end;
  }
  67% {
    transform: translate3d(-21px, -146px, 0);
    animation-timing-function: step-end;
  }
  68% {
    transform: translate3d(-5px, -150px, 0);
    animation-timing-function: step-end;
  }
  69% {
    transform: translate3d(-142px, -180px, 0);
    animation-timing-function: step-end;
  }
  70% {
    transform: translate3d(-143px, -125px, 0);
    animation-timing-function: step-end;
  }
  71% {
    transform: translate3d(-161px, -47px, 0);
    animation-timing-function: step-end;
  }
  72% {
    transform: translate3d(-87px, -27px, 0);
    animation-timing-function: step-end;
  }
  73% {
    transform: translate3d(-80px, -83px, 0);
    animation-timing-function: step-end;
  }
  74% {
    transform: translate3d(-169px, -24px, 0);
    animation-timing-function: step-end;
  }
  75% {
    transform: translate3d(-8px, -52px, 0);
    animation-timing-function: step-end;
  }
  76% {
    transform: translate3d(-165px, -29px, 0);
    animation-timing-function: step-end;
  }
  77% {
    transform: translate3d(-119px, -80px, 0);
    animation-timing-function: step-end;
  }
  78% {
    transform: translate3d(-125px, -158px, 0);
    animation-timing-function: step-end;
  }
  79% {
    transform: translate3d(-109px, -146px, 0);
    animation-timing-function: step-end;
  }
  80% {
    transform: translate3d(-134px, -54px, 0);
    animation-timing-function: step-end;
  }
  81% {
    transform: translate3d(-20px, -114px, 0);
    animation-timing-function: step-end;
  }
  82% {
    transform: translate3d(-23px, -116px, 0);
    animation-timing-function: step-end;
  }
  83% {
    transform: translate3d(-56px, -140px, 0);
    animation-timing-function: step-end;
  }
  84% {
    transform: translate3d(-105px, -135px, 0);
    animation-timing-function: step-end;
  }
  85% {
    transform: translate3d(-62px, -145px, 0);
    animation-timing-function: step-end;
  }
  86% {
    transform: translate3d(-24px, -26px, 0);
    animation-timing-function: step-end;
  }
  87% {
    transform: translate3d(-142px, -73px, 0);
    animation-timing-function: step-end;
  }
  88% {
    transform: translate3d(-95px, -13px, 0);
    animation-timing-function: step-end;
  }
  89% {
    transform: translate3d(-153px, -2px, 0);
    animation-timing-function: step-end;
  }
  90% {
    transform: translate3d(-51px, -100px, 0);
    animation-timing-function: step-end;
  }
  91% {
    transform: translate3d(-12px, -79px, 0);
    animation-timing-function: step-end;
  }
  92% {
    transform: translate3d(-12px, -119px, 0);
    animation-timing-function: step-end;
  }
  93% {
    transform: translate3d(-157px, -122px, 0);
    animation-timing-function: step-end;
  }
  94% {
    transform: translate3d(-103px, -46px, 0);
    animation-timing-function: step-end;
  }
  95% {
    transform: translate3d(-21px, -85px, 0);
    animation-timing-function: step-end;
  }
  96% {
    transform: translate3d(-3px, -83px, 0);
    animation-timing-function: step-end;
  }
  97% {
    transform: translate3d(-93px, -37px, 0);
    animation-timing-function: step-end;
  }
  98% {
    transform: translate3d(-78px, -135px, 0);
    animation-timing-function: step-end;
  }
  99% {
    transform: translate3d(-4px, -139px, 0);
    animation-timing-function: step-end;
  }
  100% {
    transform: translate3d(-35px, -114px, 0);
    animation-timing-function: step-end;
  }
}
