body {
  background: #000;
  overflow: hidden;
}

.diagnostic-menu--indent-1 {
  right: 350px;
}

.diagnostic-menu--indent-2 {
  right: 700px;
}

.diagnostic-menu--indent-3 {
  right: 1050px;
}

.diagnostic-menu--indent-4 {
  right: 1400px;
}

.diagnostic-menu--indent-5 {
  right: 1750px;
}

.graph-buttons {
  position: absolute;
  z-index: 1;
}

.join-form {
  display: flex;
  flex: 1;
  flex-direction: row;
  left: 50%;
  margin-left: -250px;
  position: absolute;
  top: 40%;
  width: 500px;
}

.join-form input,
.join-form button {
  display: flex;
  font-size: 1.25em;
  padding: 10px;
  border: none;
}

.join-form input {
  flex: 100%;
}

.join-form button {
  flex: 100px;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color: #ddd;
}

.idle {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.scanner {
  height: 20vh;
  min-width: 100vw;
  background: linear-gradient(
    180deg,
    #000,
    #090909 10vh,
    #000 20vh
  );
  animation: idle-scroll-up 20s infinite;
}

.noise {
  margin-top: -350px;
  margin-left: -350px;
  height: calc(100vh + 700px);
  width: calc(100vw + 700px);
  background-image: url("/noise.png");
  animation: idle-jitter 500ms infinite
}

@keyframes idle-scroll-up {
  0% {
    transform: translate3d(0, 100vh, 0);
    animation-timing-function: linear;
  }
  100% {
    transform: translate3d(0, -20vh, 0);
    animation-timing-function: step-end;
  }
}

@keyframes idle-jitter {
  0% {
    transform: translate3d(-95px, -105px, 0);
    animation-timing-function: step-end;
  }
  20% {
    transform: translate3d(-18px, -2px, 0);
    animation-timing-function: step-end;
  }
  40% {
    transform: translate3d(-166px, -127px, 0);
    animation-timing-function: step-end;
  }
  60% {
    transform: translate3d(-77px, -90px, 0);
    animation-timing-function: step-end;
  }
  80% {
    transform: translate3d(-134px, -54px, 0);
    animation-timing-function: step-end;
  }
  100% {
    transform: translate3d(-35px, -114px, 0);
    animation-timing-function: step-end;
  }
}

.chat {
  position: absolute;
  background-color: white;
  height: 500px;
  width: 300px;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .messages {
    flex-grow: 1;
    background-color: #eee;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

    .message {
      margin: 8px;

      .timestamp {
        padding-right: 4px;

        &:after {
          content: ":";
        }
      }
    }
  }

  .compose-form {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    height: 40px;
    background: green;

    .message-input {
      width: 100%;
      flex-shrink: 1;
      text-indent: 10px;
    }

    .send-button {
      flex-grow: 0;
      flex-shrink: 0;
      background: #ccc;
      border: none;
    }
  }
}
