.swarm_player__video {
  height: 100vh;
  width: 100vw;
}

.swarm_player__waiting_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  animation: spin 2s linear infinite;
  opacity: 0.8;

  svg {
    transform: scale(6);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
